<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <!-- <ion-tab [root]="tab2Root" tabTitle="Order List" tabIcon="ios-list"></ion-tab> -->
  <ion-tab [root]="tab3Root" tabTitle="QR-Code" tabIcon="ios-search"></ion-tab>
</ion-tabs>
