<!--
  Generated template for the ScanbarcodePage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>Register</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <!-- <ion-list>
    <ion-item>
      <ion-label stacked>Barcode No</ion-label>
      <ion-input type="text" readonly [(ngModel)]="barcodeNo"></ion-input>
    </ion-item>
  </ion-list> -->

  <ion-footer>
    <ion-toolbar>
      <!-- <ion-title>Read QRCode</ion-title> -->
      <button ion-button block (click)="doScan()">เปิดกล้อง</button>
    </ion-toolbar>
  </ion-footer>
</ion-content>
