<!--
  Generated template for the OrderListPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-toolbar>
    <ion-navbar>
      <ion-title>Order List</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" [(ngModel)]="searchValue"></ion-searchbar>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="Pull to refresh" refreshingText="Refreshing...">
    </ion-refresher-content>
  </ion-refresher>

  <ion-card *ngFor="let item of orders">
    <ion-item>
      <ion-avatar item-start>
        <img src="assets/imgs/user1.jpg">
      </ion-avatar>
      <h2>Marty McFly</h2>
      <p>November 5, 1955</p>
    </ion-item>

    <!-- <img src="assets/imgs/user2.jpg"> -->

    <ion-item>
      <ion-icon name="list-box" item-left large></ion-icon>
      <h2>Institute of Fine Cocktails</h2>
      <p>14 S. Hop Avenue, Madison, WI 53703</p>
    </ion-item>

    <ion-item>
      <span item-left>{{item.id}} Segments</span>
      <button ion-button icon-left clear item-end (click)="orderTapped($event, item)">
        <ion-icon name="arrow-round-forward"></ion-icon>
        Start
      </button>
    </ion-item>

  </ion-card>

  <!-- <ion-list>
    <ion-item *ngFor="let item of orders" (click)="orderTapped($event, item)">
      <ion-icon name="ios-document" item-left></ion-icon>
      <h2>{{item.name}}</h2>
      <p>{{item.email}}</p>
      <ion-badge item-end>{{item.id}}</ion-badge>
    </ion-item>
  </ion-list> -->

</ion-content>