<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Agtech.AI connect register</h2>
  <p>
    ระบบลงทะเบียนเข้างาน
  </p>
  <img class="" src="https://www.inno4farmers.com/assets/images/bg_home.jpg" alt="">
  <!-- <p>
    Take a look at the <code>src/pages/</code> directory to add or change tabs,
    update any existing page or create new pages.
  </p> -->
<!-- 
  <br/>
  <div class="row">
      <div>
          <div style="display: block">
            <canvas baseChart
                    [datasets]="barChartData"
                    [labels]="barChartLabels"
                    [options]="barChartOptions"
                    [legend]="barChartLegend"
                    [chartType]="barChartType"
                    (chartHover)="chartHovered($event)"
                    (chartClick)="chartClicked($event)"></canvas>
          </div>
          <button (click)="randomize()">Update</button>
        </div>
    </div> -->
</ion-content>
