<!-- <ion-header>
  <ion-navbar>
    <ion-title>Order Detail</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header>

  <ion-toolbar>
    <ion-navbar>
      <ion-title>Order Detail</ion-title>
    </ion-navbar>
    <ion-buttons end>
      <button ion-button color="royal" (click)="presentActionSheet()">
        Save
      </button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>


<ion-content>

  <div>
    <ion-segment [(ngModel)]="segmentSelected">
      <ion-segment-button value="order_info">
        Infomation
      </ion-segment-button>
      <ion-segment-button value="segment_list_info">
        Segments
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="segmentSelected">
    <ion-list *ngSwitchCase="'order_info'">
      <ion-card>
        <ion-item>
          <ion-avatar item-start>
            <img src="assets/imgs/user1.jpg">
          </ion-avatar>
          <h2>Marty McFly</h2>
          <p>November 5, 1955</p>
        </ion-item>

        <!-- <img src="assets/imgs/user2.jpg"> -->

        <ion-item>
          <ion-icon name="list-box" item-left large></ion-icon>
          <h2>Institute of Fine Cocktails</h2>
          <p>14 S. Hop Avenue, Madison, WI 53703</p>
        </ion-item>
      </ion-card>
    </ion-list>

    <ion-list *ngSwitchCase="'segment_list_info'">
      <!-- <ion-card *ngFor="let item of orderDetailItems" (click)="orderDetailTapped($event, item)">
          <ion-item>
            <ion-icon name="code-download" item-left large></ion-icon>
            <h2>{{item.name}}</h2>
            <p>{{item.email}}</p>
            <ion-icon clear item-end color="secondary" ios="ios-checkmark-circle" md="md-checkmark-circle" *ngIf="item.checked"></ion-icon>
          </ion-item>
        </ion-card> -->

      <ion-list *ngFor="let sg of segments">
        <ion-list-header>
          {{sg}}
        </ion-list-header>

        <ion-item-sliding *ngFor="let item of orderDetailItems" (click)="orderDetailTapped($event, item)">
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/imgs/user3.jpg">
            </ion-avatar>
            <h2>{{item.username}}</h2>
            <p>{{item.name}}</p>
          </ion-item>
          <ion-item-options>
            <button ion-button color="light" icon-start>
              <ion-icon name="ios-more"></ion-icon>
              More
            </button>
            <button ion-button color="primary" icon-start>
              <ion-icon name="text"></ion-icon>
              Text
            </button>
            <button ion-button color="secondary" icon-start>
              <ion-icon name="call"></ion-icon>
              Call
            </button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>

    </ion-list>
  </div>

</ion-content>