<!--
  Generated template for the AccountPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Account</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <div padding>
        <button ion-button block color="danger" (click)="goLogOut()">Log Out</button>
      </div>
</ion-content>
